<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>ServletEmpleado</display-name>
    <servlet-name>ServletEmpleado</servlet-name>
    <servlet-class>servlets.ServletEmpleado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEmpleado</servlet-name>
    <url-pattern>/ServletEmpleado</url-pattern>
  </servlet-mapping>
  <display-name>Clinica_Salud_Vital</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletCombos</display-name>
    <servlet-name>ServletCombos</servlet-name>
    <servlet-class>servlets.ServletCombos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCombos</servlet-name>
    <url-pattern>/ServletCombos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ingresar</display-name>
    <servlet-name>ingresar</servlet-name>
    <servlet-class>servlets.ServletUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ingresar</servlet-name>
    <url-pattern>/ingresar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServeletPacientes</display-name>
    <servlet-name>ServeletPacientes</servlet-name>
    <servlet-class>servlets.ServeletPacientes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServeletPacientes</servlet-name>
    <url-pattern>/ServeletPacientes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServeletCerrar</display-name>
    <servlet-name>ServeletCerrar</servlet-name>
    <servlet-class>servlets.ServeletCerrar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServeletCerrar</servlet-name>
    <url-pattern>/ServeletCerrar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCita</display-name>
    <servlet-name>ServletCita</servlet-name>
    <servlet-class>servlets.ServletCita</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCita</servlet-name>
    <url-pattern>/ServletCita</url-pattern>
  </servlet-mapping>
</web-app>